@import "tailwindcss";

@theme inline {
  --color-caption: #698096;
  --color-default-text: #00264d;
  --color-primary: #0080ff;
  --color-light-gray: #e3ebf3;
  --color-overlay: rgba(18, 57, 82, 0.95);
  --color-yellow-custom: #f2bf09;
  --color-red-custom: #ff0000;
  --color-blue-500: #1877f2;
  --color-gray-800: #242424;
  --color-gray-300: #d3d3d3;
  --color-card-overlay: #0080ff0f;
  --color-checkout-label: #273240;
  --color-highlight: #b9b9f99e;
  --drop-shadow-search: 0px 0px 9px 0px #00000017;
  --drop-shadow-checkout-form: 0px 0px 11px 0px #0000001c;
  --inset-shadow-button: 0px 2px 9px 1px #0080ff4a;
  --inset-shadow-menu: 0px 0px 9px 0px #00000017;
}

body {
  background: #e3ebf3;
  font-family: "Poppins", Helvetica, sans-serif;
}
